<%= form_for(@entry, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name of entry" %>
  </div>
  <div class="field">
    <%= f.text_area :content_entry, placeholder: "Compose new entry..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
 <!--  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %> -->
